body {
    margin: 60px auto;
    width: 70%;
    background-color: #1E1E24; 
    Background: url("http://cdn.wallpapersafari.com/17/87/5VgFdK.jpg") no-repeat top center;
    background-size: contain;
    background-attachment: fixed;
}
nav ul, footer ul {
    font-family:'Coronet', 'Georgia', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 50px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgba(255, 255, 255, 0.75);      
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Pontano Sans', sans-serif;
        
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
